.mainDiv{ 
    background-image: url("../../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100%;
    width: 100%;
    
  }
  .mainDiv{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;}


  #search{
    margin-left: 20px;
    border-color:#cf8168;
    margin-left: 6px;
    margin-right: 6px;
    background-color:#cf8168;
    border-radius: 0.25rem;
    align-items: center;
    font-size: 100%;
 
 
 }
 
 
 #search:hover{
     background-color:#d7ba92;
     border-color :#d7ba92;
   
 }
 #linkToDownLoad{
  margin-left: 90px;
  border-color:#cf8168;
  margin-right: 6px;
  background-color:#cf8168;
  border-radius: 0.25rem;
  align-items: center;
  font-size: 100%;

  
 }
 #linkToDownLoad:hover{
 background-color:#d7ba92;
 border-color :#d7ba92;
}
.resultDiv{
  width: 500px;
  height:600px ;
  margin-top: 32px;
}
.resultIframe{
  align-items: center;
  margin-left: 45PX;
}

.fileToDownLoad{
  width: 100%;
  height:85%;
}
  
.faild{
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: #d7ba92;
  font-size: 40px;
  /* border-style:dotted */
text-align: center;
  
}
#nextFile{
 
  border-color:#cf8168;
  background-color:#cf8168;
  border-radius: 0.25rem;
  align-items: center;
  margin-left: 200px;

  
 }
 #nextFile:hover{
 background-color:#d7ba92;
 border-color :#d7ba92;
}
