
#entry-button{
   margin-left: 20px;
   border-color:#cf8168;
   margin-left: 6px;
   margin-right: 6px;
   background-color:#cf8168;
   border-radius: 0.25rem;
   align-items: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    font-size: 100%;
}


#entry-button:hover{
    background-color:#d7ba92;
    border-color :#d7ba92;
  
}
.mainDiv{ 
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    background-image: url("../../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100%;
    width: 100%;
  }
